.footer {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  bottom: 0;
  width: 100%;
}

.icon {
  justify-content: space-between;
  align-items: center;
  width: 100px;
  height: 100px;
  padding: 25px;
}
